$family: 'Montserrat', sans-serif;


// @@@@@@@@@@@load effect variable@@@@@@@@@@@

$circle-bg : #7daf4ecf;
$circle-text : linear-gradient(to right, #ff9800 40%, #dcefff 60%);
$load-size-p : 22px;
$load-weight-p : 700;

// @@@@@@@@@@@load effect variable@@@@@@@@@@@




// @@@@@@@@@@@ color @@@@@@@@@@@

$black : #000;
$sami-black : #000000a1;
$white : #fff;
$sami-blue : #7597de ;
$pure-blue : #2b1055 ;
$sun : #ff9800;
$banner_bg : linear-gradient(#2b1055,#7597de);
$html : #e34f26;
$css : #1572b6;
$js : #ebd13a   ;
$bootstreap: #563d7c;
$git-github: #121011;

// @@@@@@@@@@@ color @@@@@@@@@@@



// @@@@@@@@@@@ dark-theme-color @@@@@@@@@@@



// @@@@@@@@@@@ dark-theme-color @@@@@@@@@@@
