/*@@@@@@@@@@@@@@@ XX-Large devices (larger desktops, 1400px and up) @@@@@@@@@@@@@@@*/
@media (max-width: 1399.98px) { 



 }




/*@@@@@@@@@@@@@@@ X-Large devices (large desktops, 1200px and up) @@@@@@@@@@@@@@@*/
@media (max-width: 1199.98px) { 

    .two table tr td {
        font-size: 18px;
        font-weight: 400;
    }

    .three video {
        height: 300px;
    }

    .three svg text {
        font-size: 5em;
    }

 }





/*@@@@@@@@@@@@@@@ Large devices (desktops, 992px and up) @@@@@@@@@@@@@@@*/
@media (max-width: 991.98px) { 

    .one .navbar .nav-item .nav-link {
        font-size: 17px;
    }

    .one .main_effect {
        min-height: 600px;
    }

    .one .main_effect .moon {
        top: 50px;
    }

    .one .main_effect .mountains_behind img {
        height: 600px;
    }

    .one .main_effect .mountains_front img {
        height: 600px;
    }

    .two {
        padding: 100px 0px 100px;
    }

    .two h1 {
        font-size: 36px;
        padding: 0px 0px 25px;
    }

    .two table tr td p {
        width: 300px;
        font-size: 16px;
    }

 }




/*@@@@@@@@@@@@@@@ Medium devices (tablets, 768px and up) @@@@@@@@@@@@@@@*/
@media (max-width: 767.98px) { 

    .one .navbar .nav-item {
        padding: 0 25px;
    }
    
    nav.navbar.navbar-expand-sm.sticky {
        padding: 0;
    }

    .one {
        height: 526px;
    }

    .one .main_effect {
        min-height: 525px;
    }

    .one .main_effect .stars img {
        height: 450px;
        object-fit: cover;
    }

    .one .main_effect .moon {
        top: 85px;
    }

    .one .main_effect .mountains_behind img {
        height: 600px;
    }

    .one .main_effect .mountains_front img {
        height: 415px;
    }

    .two {
        padding: 60px 0px 0;
    }

    .two table tr td p {
        width: 230px;
        font-size: 14px;
    }

    .two table tr td {
        border: 1px dotted #0000002b;
        border-left: 0;
        border-right: 0;
    }

    .two table tr td:nth-child(1) {
        border-right: 1px dotted #0000002b;
    }

    .two table tr td:nth-child(9) {
        border-right: 1px dotted #0000002b;
    }

 }




/*@@@@@@@@@@@@@@@ Small devices (landscape phones, 576px and up) @@@@@@@@@@@@@@@*/
@media (max-width: 575.98px) { 

    .one .navbar .nav-item {
        padding: 0 0 5px;
    }

    .one .navbar .nav-item .label {
        flex-direction: row;
        height: 20px;
        width: 50px;
    }

    .one .navbar .nav-item .label::before {
        position: absolute;
        width: 16px;
        height: 15px;
        left: 2px;
    }

    .one .main_effect .moon {
        top: 60px;
    }

    .one .main_effect .mountains_behind img {
        height: 500px;
    }

    .one .main_effect .mountains_front img {
        height: 450px;
    }
    
    .two h1 {
        font-size: 30px;
    }

    .two table tr td p {
        width: 200px;
        /* font-size: 14px; */
        position: absolute;
        left: 105px;
        top: 100%;
    }

    .three {
        padding: 80px 0 0;
    }

    .three video {
        height: 175px;
    }

    .three svg {
        top: 50%;
        transform: translateY(-50%);
    }

    .three svg text {
        font-size: 36px;
    }

    .footer footer .f-div {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .footer footer .f-div label {
        font-size: 14px;
        padding-bottom: 15px;
    }

    .footer footer .f-div #submit {
        width: 150px;
    }

    .footer footer .f-div {
        width: 285px;
    }

 }





/*@@@@@@@@@@@@@@@ X-Small devices (portrait phones, less than 576px)@@@@@@@@@@@@@@@*/









