@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "./variable";


// @@@@@@@@@@@@@@@@@@@@@@@@@  all  @@@@@@@@@@@@@@@@@@@@@@@@@

*{
    font-family: $family;
    scroll-behavior: smooth;
}

body {
    overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: $sami-blue;

    &-thumb {
        background-color: $pure-blue;
        background-clip: content-box;
        border-radius: 33px;
        border: 2px solid transparent;
    }

}


// @@@@@@@@@@@@@@@@@@@@@@@@@  all  @@@@@@@@@@@@@@@@@@@@@@@@@





// @@@@@@@@@@@@@@@@@@@@@@@@@  preloader  @@@@@@@@@@@@@@@@@@@@@@@@@

.preloader {
    background: $black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .big_circle {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
        background: $circle-bg;
        border-radius: 100%;
        position: relative;

        p {
            position: absolute;
            top: 4px;
            left: 50%;
            font-size: $load-size-p;
            font-weight: $load-weight-p;
            color: $circle-text;
            transform-origin: 0 150px;
            animation: rotation 7s infinite linear;

            @keyframes rotation {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }

            span {
                position: absolute;
                transform-origin: 0 150px;
                background: $circle-text;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
            }

        }

        .small_circle {
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 230px;
                height: 230px;
                border-radius: 100%;
            }
        }

    }

}

// @@@@@@@@@@@@@@@@@@@@@@@@@  preloader  @@@@@@@@@@@@@@@@@@@@@@@@@





// @@@@@@@@@@@@@@@@@@@@@@@@@  Header section  @@@@@@@@@@@@@@@@@@@@@@@@@


.one {
    height: 100vh;
    // ---------------------navbar---------------------
    
    .sticky {
        position: fixed;
        width: 100%;
        background-color: $pure-blue !important;
        background-image: none !important;
        z-index: 10;
    }

    .navbar {
        background: $pure-blue;
        background-image: url(../Photos/stars.png);
        background-size: contain;
            
        .navbar-brand {
            margin: 0;

            img {
                width: 90px;
            }

        }
        
        .nav-item{
            padding: 0 0 0 25px;

            .nav-link {
                font-size: 18px;
                font-weight: 500;
                color: $white;
                position: relative;

                &::after {
                    position: absolute;
                    content: "";
                    width: 0;
                    left: 0;
                    height: 2px;
                    bottom: 0;
                    background-color: $white;
                    transition: width 0.3s cubic-bezier(0.4, 0, 1, 1);
                }

                &::before {
                    position: absolute;
                    content: "";
                    width: 0;
                    right: 0;
                    height: 2px;
                    bottom: 0;
                    background-color: $white;
                    transition: width 0.3s cubic-bezier(0.4, 0, 1, 1);
                }

                &:hover.nav-link::after {
                    width: 46%;
                }

                &:hover.nav-link::before {
                    width: 46%;
                }

            }

            .label {
               display: flex;
               flex-direction: column;
               justify-content: space-around;
               align-items: center;
               background-color: $white;
               position: relative;
               border-radius: 15px;
               height: 42px;
               width: 19px;
               cursor: pointer;
               
                input {
                    position: absolute;
                    opacity: 0;

                    &:checked ~.label {
                        // top: 20px;
                        background-color: $pure-blue !important;
                    }

                    &:focus {
                        outline: none;
                    }


                }

                &::before {
                    position: absolute;
                    content: "";
                    width: 15px;
                    height: 15px;
                    border-radius: 100%;
                    background-color: $black;
                    top: 2px;
                }

                i {
                    font-size: 14px;
                    color: $sami-black;
                }

                #sun {
                    color: $sun !important;
                }

            }

        }        
        
    }

    // ---------------------navbar---------------------

    // ---------------------banner---------------------

.main_effect {
    position: relative;
    background: $banner_bg;
    min-height: 100vh;
    overflow: hidden;

    .stars {
        position: absolute;
        img {
            width: 100%;
            height: 100vh;
            object-fit: inherit;
        }
    }
    .moon {
        position: absolute;
        img {
            width: 100%;
            mix-blend-mode: screen;
        }
    }

    .mountains_behind {
        position: absolute;
        bottom: 0;
        width: 100%;
        img {
            width: 100%;
            height: 100vh;
        }
    }

    .mountains_front {
        position: absolute;
        bottom: 0;
        width: 100%;
        img {
            width: 100%;
            height: 100vh;
        }
    }
}


    // ---------------------banner---------------------

}


// @@@@@@@@@@@@@@@@@@@@@@@@@  Header section  @@@@@@@@@@@@@@@@@@@@@@@@@





// @@@@@@@@@@@@@@@@@@@@@@@@@  Bio section  @@@@@@@@@@@@@@@@@@@@@@@@@



.two {

    padding: 70px 0 100px;
    font-size: 20px;

    h1{
        font-size: 40px;        
        font-weight: 900;
        padding: 0 0 35px;
    }

    table {
        width: 100%;
        text-align: center;

        tr {
            height: 65px;
            position: relative;
            
        
        td {
            border: 1px 
            dotted $black;
            border-left: 0;

            p {
                width: 350px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                z-index: 1;
                padding: 5px;
                border-radius: 7px;
                background-color: $html;
                color: $white;
                font-size: 18px;
                font-weight: 500;
                justify-content: space-between;
                align-items: center;

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {
                        color: aliceblue;
                        font-size: 13px;
                        margin-right: 7px;
                    }
                }
                
            }

            #tab2-h1{
                transform: translate(-40%,-50%);
                background-color: $css;
            }
            #tab3-h1{
                transform: translate(-30%,-50%);
                background-color: $js;
            }
            #tab4-h1{
                transform: translate(-20%,-50%);
                background: $git-github;
            }
            #tab5-h1{
                transform: translate(-10%,-50%);
                background-color: $bootstreap;
            }
        }

        }
    }
}


// @@@@@@@@@@@@@@@@@@@@@@@@@  Bio section  @@@@@@@@@@@@@@@@@@@@@@@@@




// @@@@@@@@@@@@@@@@@@@@@@@@@  SVG MUSKING section  @@@@@@@@@@@@@@@@@@@@@@@@@

.three {
    position: relative;

    video {
        width: 100%;
        height: 450px;
    }

    svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        rect {
            fill: $white;
            mask: url(#mask);
            x: 0;
            y: 0;
            height: 100%;
            width: 100%;
        }

        text {
            fill: $sun;
            font-size: 8em;
            font-weight: 900;
        }
    }

}

// @@@@@@@@@@@@@@@@@@@@@@@@@  SVG MUSKING section  @@@@@@@@@@@@@@@@@@@@@@@@@




